# IDE
.idea/
*.iml
.vscode/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
*.env.local

# Docker
docker-data/

# Build output
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar
